NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_REST_OF_YOUR_KEY_HERE

NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# This should point to the satellite application.
# In development, this will be a localhost port, as shown below. In production, this would be the full domain of your satellite application (e.g. `https://example-satellite.com`).
# If you have more than one satellite, use a comma to separate the list.
NEXT_PUBLIC_ALLOWED_REDIRECT_ORIGINS="http://localhost:3001,http://localhost:3002"

# Satellite Domain URL -- required for this demo app and its links
NEXT_PUBLIC_SATELLITE_DOMAIN_URL=http://localhost:3001
