VITE_CLERK_PUBLISHABLE_KEY=pk_test_REST_OF_YOUR_KEY_HERE

# Required for the e2e tests setup in this repo, but not for the react app
CLERK_SECRET_KEY=sk_test_REST_OF_YOUR_KEY_HERE

# sign-in-or-up URL
VITE_CLERK_SIGN_IN_URL=/sign-in

# This should point to the satellite application.
# In development, this will be a localhost port, as shown below. In production, this would be the full domain of your satellite application (e.g. `https://example-satellite.com`).
# If you have more than one satellite, use a comma to separate the list.
VITE_ALLOWED_REDIRECT_ORIGINS="http://localhost:3003"
VITE_CLERK_USER_PROFILE_URL=http://localhost:3002

# Satellite Domain URL -- required for this demo app and its links
VITE_SATELLITE_DOMAIN_URL=http://localhost:3003

# E2E CLERK TEST USER
E2E_CLERK_USER_PASSWORD=
E2E_CLERK_USER_EMAIL=
E2E_CLERK_USER_USERNAME=