VITE_CLERK_PUBLISHABLE_KEY=pk_test_REST_OF_YOUR_KEY_HERE

VITE_CLERK_SIGN_IN_URL=/sign-in

# In local dev this is the satellite application. In production this would be the full domain of your satellite application.
# If you have more than one satellite, use a comma to separate the list.
VITE_ALLOWED_REDIRECT_ORIGINS="http://localhost:3003"

# Satellite Domain URL -- required for this demo app and its links
VITE_SATELLITE_DOMAIN_URL=http://localhost:3003

# E2E CLERK TEST USER
E2E_CLERK_USER_PASSWORD=
E2E_CLERK_USER_EMAIL=
E2E_CLERK_USER_USERNAME=